body {
    background-image: url("https://st4.depositphotos.com/32273002/40702/i/450/depositphotos_407020028-stock-photo-white-light-texture-background-copy.jpg?forcejpeg=true");
    background-repeat: repeat;
    background-size: auto;
    user-select: none;
}

.bg-secondary {
    background-color: #006fbb !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #006fbb !important;
}

h4 {
    color: #006fbb;
}

.info-buttons {
    background-color: #fbc100;
    color: #eef1f3;
}

.blue-buttons {
    background-color: #006fbb;
    color: #eef1f3;
}

.create-button {
    background-color: #4CAF50;
    color: #eef1f3;
}

.light-gray {
    background-color: #eef1f3;
}

.modal-content {
    border-radius: 1rem;
    padding: 1rem;
}

.card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .20) !important;
    border-radius: 0.5rem;
}
@media (min-width: 2200px) {
    .container {
        max-width: 2300px;
    }
}
.clickable:hover {
    background: lightblue;
    cursor: pointer;
}
.clickable {
    position: relative;
}
.test {
    position: absolute;
}


.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}
.checked {
    color: orange;
}
.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold', serif;
}


