<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create repo modal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
</head>
<body>
<div th:fragment="create-repo-modal">
    <div class="modal fade" role="dialog" id="create-repo-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add repo</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="tab-content">
                    <div class="tab-pane show active" id="repo-changes" role="tab"
                         aria-labelledby="user-changes-tab">
                        <form th:action="@{/create-repo}" th:object="${createRepoDto}"
                              class="well form-horizontal"
                              action="" id="create-repo-form" method="post">
                            <div class="modal-body p-3">
                                <div class="py-1">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="name-input">Name</label>
                                                        <input required class="form-control light-gray" type="text"
                                                               name="name" id="name-input">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label for="desc-input">Description</label>
                                                        <input required class="form-control light-gray" type="text"
                                                               name="description" id="desc-input">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-primary blue-buttons" id="create-repo"
                                                    type="submit">Create
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>