<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 lang="">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="header">
</div>

<div th:fragment="nav-bar">
    <nav class="navbar navbar-expand-lg bg-secondary sticky-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" th:href="@{/}"><h3 style="color: #eef1f3">
            Review repositories</h3></a>
        </div>
        <a th:href="@{/logout}">Logout</a>
    </nav>
</div>
</body>
</html>