<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/bluetheme.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <link th:href="@{/css/smart-forms.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <link th:href="@{/css/properties index.css}" href="../static/css/properties index.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:include="fragments/general.html :: nav-bar"></div>

<div class="container" style="padding: 10rem;">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="e-tabs mb-3 px-3">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="repo-tab" data-toggle="tab" href="#repos" role="tab"
                           aria-controls="user-changes"
                           aria-selected="true">Repositories</a>
                    </li>
                </ul>
            </div>
            <!--            TAB CONTENT-->
            <div class="tab-content ">
                <!--                Repos TAB-->
                <div class="row tab-pane  show active" id="repos" role="tab" aria-labelledby="repos-tab">
                    <div class="row d-flex mb-3">
                        <div class="col mb-3">
                            <div class="e-panel card">
                                <div class="card-body">
                                    <div class="e-table">
                                        <div class="table-responsive table-lg mt-3 repo-results"
                                             th:fragment="repo-results">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th class="max-width align-middle text-center">Name</th>
                                                    <th class="max-width align-middle text-center">Description</th>
                                                    <th class="sortable align-middle text-center">Creator</th>
                                                    <th class="sortable align-middle text-center">Link</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="repo : ${allRepos}" class="clickable">

                                                    <td th:attr="onclick=|openRepositoryReviewsModal('${repo.getId()}')|"
                                                        th:text="${repo.getName()}"
                                                        class="text-nowrap align-middle">Name
                                                    </td>
                                                    <td th:attr="onclick=|openRepositoryReviewsModal('${repo.getId()}')|"
                                                        th:text="${repo.getDescription()}"
                                                        class="text-nowrap align-middle">Description
                                                    </td>
                                                    <td th:attr="onclick=|openRepositoryReviewsModal('${repo.getId()}')|"
                                                        th:text="${repo.getOwnerName()}"
                                                        class="text-nowrap align-middle text-center">Owner
                                                    </td>
                                                    <td class="text-nowrap align-middle text-center">
                                                        <a th:if="${repo.getLinkToGitHub() != null}"
                                                           th:href="${repo.getLinkToGitHub()}" th:target="_blank"
                                                           class="">Link to GitHub</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center px-xl-3">
                                        <button class="btn btn-success btn-block create-button" type="button"
                                                data-toggle="modal"
                                                data-target="#create-repo-modal">
                                            Create Repository
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        MODALS-->
        <!-- Repo review Modal -->
        <div class="modal fade" role="dialog" id="repo-review-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Repository reviews</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="well form-horizontal" id="contact_form">
                        <div class="modal-body">
                            <div class="py-1">
                                <!--            Comments tab-->
                                <div class="tab-pane profile-tab" id="comments" role="tabpanel"
                                     aria-labelledby="comments-tab">
                                    <div class="container ">
                                        <!--Reviews-->
                                        <div class="be-comment-block">
                                            <div class="review-results" th:fragment="review-results">
                                                <div th:each="review : ${allReviewsForRepo}">
                                                    <div class="be-comment shadow-sm p-3 mb-5 bg-white">
                                                        <div class="be-img-comment">
                                                            <img src="https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png"
                                                                 class="card-img-empty be-ava-comment" alt="">
                                                        </div>
                                                        <button type="button"
                                                                class="fa-pull-right btn btn-danger" th:attr="onclick=|openDeleteConfirm('${review.id}')|">x
                                                        </button>
                                                        <div class="modal fade" id="modal-confirm-delete" th:id="'modal-confirm-delete' + ${review.id}" tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="exampleModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog modal-sm modal-notify modal-danger"
                                                                 role="document">
                                                                <!--Content-->
                                                                <div class="modal-content text-center">
                                                                    <!--Header-->
                                                                    <div class="modal-header d-flex justify-content-center">
                                                                        <p class="heading">Are you sure you want to
                                                                            delete rating?</p>
                                                                    </div>
                                                                    <!--Body-->
                                                                    <div class="modal-body">
                                                                        <i class="fas fa-times fa-4x animated rotateIn"></i>
                                                                    </div>
                                                                    <!--Footer-->
                                                                    <div class="modal-footer flex-center">
                                                                        <form id="delete-review-form" th:id="'delete-review-form' + ${review.id}"
                                                                              th:action="@{'/reviews/'+${review.repositoryId}+'/'+${review.id}+'/delete'}"
                                                                              method="post">
                                                                            <button id="delete-review-button"
                                                                                    class="btn  btn-outline-brown delete-review-button"
                                                                                    th:attr="onclick=|deleteReview('${review.id}')|"
                                                                                    type="button">Yes
                                                                            </button>
                                                                        </form>
                                                                        <button id="close-confirm"
                                                                                class="btn  btn-brown waves-effect"
                                                                                th:attr="onclick=|closeDeleteConfirm('${review.id}')|"
                                                                                data-dismiss-modal="modal2">No
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="be-comment-content">

                                                        <span class="be-comment-name">
					                                        <a th:text="${review.getReviewer()}" href="">Ravi Sah</a>

                                                                <div th:unless="${review.getRating()}==null">
                                                                    <td>
                                                                        <span class="m-0">Rating:</span>
                                                                <div>
                                                        <span th:if="${review.getRating()>=1.0}"
                                                              class="fa fa-star fa-lg checked"></span>
                                                        <span th:unless="${review.getRating()>=1.0}"
                                                              class="fa fa-star fa-lg"></span>
                                                        <span th:if="${review.getRating()>=2.0}"
                                                              class="fa fa-star fa-lg checked"></span>
                                                        <span th:unless="${review.getRating()>=2.0}"
                                                              class="fa fa-star fa-lg"></span>
                                                        <span th:if="${review.getRating()>=3.0}"
                                                              class="fa fa-star fa-lg checked"></span>
                                                        <span th:unless="${review.getRating()>=3.0}"
                                                              class="fa fa-star fa-lg "></span>
                                                        <span th:if="${review.getRating()>=4.0}"
                                                              class="fa fa-star fa-lg checked"></span>
                                                        <span th:unless="${review.getRating()>=4.0}"
                                                              class="fa fa-star fa-lg"></span>
                                                        <span th:if="${review.getRating()>=5.0}"
                                                              class="fa fa-star fa-lg checked"></span>
                                                        <span th:unless="${review.getRating()>=5.0}"
                                                              class="fa fa-star fa-lg"></span>
                                                    </div>
                                                </td>
                                            </div>
					                    </span>
                                                            <span th:text="${review.getCreateDate()}"
                                                                  class="be-comment-time"><i class="fa fa-clock-o"></i>May 27, 2015 at 3:14am
				                                        </span>
                                                            <p th:text="${review.getDescription()}"
                                                               class="be-comment-text"> test </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-success green" data-toggle="modal"
                                                    data-target="#rate-repo-modal"> Add Review
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--            RATE REPO MODAL-->
        <div class="smart-wrap modal fade" role="dialog" id="rate-repo-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content smart-forms smart-container">
                    <div class="modal-header">
                        <h4 class="modal-title">Rate repository</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <form method="post" action="/" th:action="@{/}" th:object="${createReviewDto}" id="add-review-form">
                        <div class="form-body theme-blue">
                            <input name="repositoryId" hidden="hidden" id="selected-review-id"/>
                            <div class="section">
                                <label class="field prepend-icon">
                                    <textarea class="gui-textarea" id="comment" name="description"
                                              placeholder="Enter comment..."></textarea>
                                    <span class="field-icon"><i class="fa fa-comments"></i></span>
                                </label>
                            </div>

                            <div class="section">
                                <span class="rating block">
                            <span class="lbl-text">Rate this article</span>
                            <input class="rating-input" id="five-stars" type="radio" value=5 name="rating">
                            <label class="rating-star" for="five-stars"><i class="fa fa-star"></i></label>
                            <input class="rating-input" id="four-stars" type="radio" value=4 name="rating">
                            <label class="rating-star" for="four-stars"><i class="fa fa-star"></i></label>
                            <input class="rating-input" id="three-stars" type="radio" name="rating" value=3 checked>
                            <label class="rating-star" for="three-stars"><i class="fa fa-star"></i></label>
                            <input class="rating-input" id="two-stars" type="radio" value=2 name="rating">
                            <label class="rating-star" for="two-stars"><i class="fa fa-star"></i></label>
                            <input class="rating-input" id="one-star" type="radio" value=1 name="rating">
                            <label class="rating-star" for="one-star"><i class="fa fa-star"></i></label>
                        </span>
                            </div><!-- end  section -->
                        </div><!-- end .form-body section -->
                        <div class="form-footer">
                            <button type="submit" id="add-review-button" class="button btn-blue">Post Review</button>
                        </div><!-- end .form-footer section -->
                    </form>
                </div>
            </div>
        </div>
        <div th:include="fragments/create-repo-modal.html :: create-repo-modal"></div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script th:src="@{../js/vanilla-toast.js}" th:inline="javascript" src="../static/js/vanilla-toast.js"></script>
<script th:src="@{../js/index.js}" th:inline="javascript" src="../static/js/index.js"></script>
</body>
</html>